ul.colored {
  background-color: skyblue;
  outline: 1px solid black;
  padding: 0;
}

ul.colored li {
  background-color: burlywood;
  outline: 1px solid black;
}

ul.colored li h1 {
  background-color: coral;
  border: 4px solid black;
}

ul.colored li p {
  background-color: pink;
  outline: 1px solid black;
}